#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* justify-content: space-between; */
}

* {
  background-color: #ffecf2;
}
/* * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#content {
  flex-grow: 1;
}

.inter{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}